.bannerhead {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding: 45px;
}

.bannercontainer {
    display: flex;
    border: 1px solid blue;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 2%;
    flex-direction: column;
    gap: 15px;
    /* justify-content: flex-end; */

}

.bannercontainer img {
    min-width: 100%;
    max-height: 275px;
    min-height: 275px;
    /* min-height: 5%; */
}

.bannerbtn {
    padding: 35px;
}

.bannerbtn button {
    padding: 25px;
    border: 1px solid black;
}

.bannerbtn button:hover {
    background-color: grey;
}




.centerContainer {
    position: absolute;
    border-radius: 35px;
    left: 45%;
    bottom: 50%;
    top: 50%;
    /* right: 100%; */
    min-height: 250px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: blue;
    gap: 25px;
    color: white;
    /* backdrop-filter: blur(5px); */
    /* margin-right: 50%; */
    bottom: 50%;
    top: 50%;
    /* margin-left: 50%; */
    z-index: 100000000;
}

.centerContainer button {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    /* background-color: gold; */
}