
.productdetail {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin: 0 auto;
    /* gap: 50px; */
    border-radius: 30px;
    max-width: 1000px;
    padding: 20px;
    padding-top: 15px;
    backdrop-filter: blur(5px);
}
.maindiv{
    filter: blur(5px);
    /* backdrop-filter: blur(5px); */
    /* scrollbar-darkshadow-color: #000; */
}
.centerContainer{
position: absolute;
border-radius: 35px;
left: 45%;
bottom: 50%;
top: 50%;
/* right: 100%; */
min-height: 250px;
min-width: 250px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
background-color: black;
gap: 25px;
color: white;
/* backdrop-filter: blur(5px); */
/* margin-right: 50%; */
bottom: 50%;
top: 50%;
/* margin-left: 50%; */
z-index: 100000000;
}
.centerContainer button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    /* background-color: gold; */
}
.centerContent{
    
}
.detailbutton button {

    background-color: #212121;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.detailbutton button:hover {
    background-color: #515151;
    cursor: pointer
}

.detaillogocontainer {
    display: flex;
    /* backdrop-filter: blur(5px); */
    gap: 1px;
    align-items: center;
    justify-content: center;
    /* background-color: #313131; */
    max-height: 75px;
    max-width: 100px;
    /* margin-left: auto; */
    /* padding: 10px; */
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
    transition: all 0.3s ease-in-out;
}

.detailprice {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;

}

.detailstock {
    color: green;

}

.detaildescription {
    margin: 10px 0;
    font-size: 14px;

}

.detailcategory {
    font-style: italic;
    color: #888;
}

.detaillogocontainer:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 10px #888888;

}

.detaillogocontainer img {
    max-width: 20px;
    margin-right: 10px;
}

.detaillogocontainer p {
    font-size: 24px;
    font-weight: bold;
}