.containerbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 100vh;
    gap: 75px;
  }
  
  .box {
    display: inline-block;
    width: 170px;
    font-size: smaller;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    /* font-size: 10px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .box:hover{
    background-color: #ddd;
  }
  .box span{
    line-height: 100px;
    font-size: 18px;
    font-weight: bold;
  }
  .box span a{
    font-size: smaller;
  }







  .containerform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */
    /* background-color: blue; */
  }
  
  .containerform label {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  
  .containerform input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px #ddd;
    width: 300px;
  }
  
  .containerform button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .containerform button:hover {
    background-color: #3e8e41;
  }
  .homesidebar {
    display: flex;
    background-color: grey;
    z-index: 1;
    position: absolute;
    flex-direction: column;
    width: 200px;
    margin-left: 75px;
    height: auto;
    /* background: linear-gradient(180deg,#ECF1FE 61%,rgba(236,241,254,.7) 88%,rgba(236,241,254,0) 97%); */
  }
  .homesidebar a {
    color: black;
  }
  .circlelink a {
    background-color: darkblue;
    border-radius: 50px;
    border-bottom-width: 50px;
    max-height: 30px;
    max-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
  }
  .homeul{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-decoration: none;
    list-style-type: none;
  }
  .darkhomeul{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-decoration: none;
    list-style-type: none;
  }
  .homeul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    gap: 20px;
    
  }
  .actives{
    transform: translateX(0);
    opacity: 1;
    transition: transform 1s ease, opacity 1s ease;
  }
  .inactives{
    transform: translateX(100%);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s ease, opacity 1s ease;
  }
  .homeul li:hover{
    color: rgba(144, 144, 248, 0.653);

  }
  .homeul li label{
    margin-left: auto;
  }
  .slider{
    display: none;
    width: 100%;
    height: 50vh;
  }
  .banner{
    width:100%;
    height: 400px;
    object-fit: cover;
  }
  .prev,.next{
    cursor:pointer;
    position: absolute;
    width: auto;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    font-weight: bold;
    font-size: 18px;
    transform: 0.6 ease;
    border:none;

  }
  .next{
    right:0;
  }
  .prev{
    left: 0;
  }
  .prev:hover,.next:hover{
     background-color: rgba(0,0,0,0.8);
  }
  .fade{
    animation-name:fadeIn 1s ease-in forwards;
    animation-duration: 1.5s;
  }
  .slidefade{
    display: none;
    width: 100%;
    height: 100%;  
    animation: fadeIn 1s ease-in forwards;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.3;
    }
    to {
      opacity: 1;
    }
  }
  .slidercontainer {
    position: relative;
    /* margin: 50px auto 20px auto; */
    width: 100%;
    height: 600px;
    overflow: hidden;
  }