.ordercontainer{
    padding: 15px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.ordercontainer input{
    max-width: 20%;
    padding: 15px;
    
}
.ordercontainer h2{
    text-align: center;
}
.orderform{
    padding: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:8px;
    background-color: green;
    border-radius: 15px;
    height: auto;
}
.head{
    display: flex;
    justify-content: space-between;


}
.ordercontainer h4{
    font-size: larger;
}