.wishlistnavbar {
    display: flex;
    justify-content: space-evenly;
    font-size: 28px;
    list-style: none;
    padding-top: 25px;
    padding: 55px;
    /* transition: 10s blue ease; */
}

.wishlistnavbar li {
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    transition: 1s ease;
    cursor: pointer;
}

.buttonflex {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.wishlistdata {
    overflow-y: scroll;
    max-height: 200px;
}

.activemodal {

    /* overflow-y: scroll; */
    background-color: green;
    display: block;
    position: fixed;
    width: 750px;
    max-height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 300px; */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.activemodal button {
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 2px;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: 0px 0px 5px black;
    border: none;
    vertical-align: middle;
    padding-bottom: 2px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* margin-top: 50%; */
    /* margin-bottom: 50%; */
    margin-top: 50px;
    min-width: 300px;
    min-height: 30px;
}

.activemodal button:hover {
    background-image: linear-gradient(135deg, #280F5C 0, #100F5C 58%, #0F345C 100%);
}

.activemodal h1 {
    padding-left: 20px;
    padding-bottom: 15px;
}

.modalh2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 15px;
    padding-right: 15px;
}

.modalinput {
    display: flex;

    padding-top: 15px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;

}

.modalinput input {
    /* min-width: 500px; */
    /* padding-left: 150px; */
    padding: 10px;
    border: 1px solid black;
}

.modalinput select {
    padding-left: 15px;
    padding-right: 15px;
}

.activenavbar {
    background-color: white;
    border-radius: 50%;
}

.wishlistnavbar li:hover {
    background-color: grey;
    border-radius: 15px;
    /* margin: 15px; */
    /* padding: 15px; */
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    width: auto;
}

.wishbtn button {
    margin-left: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-size: 15px;
    padding-top: 5px;
    cursor: pointer;
    padding-bottom: 5px;
    transition: 1s ease;
}

.wishbtn button:hover {
    background-color: grey;
}

.activetab {
    position: relative;

}

.wishlistmain {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 0px 5% 40 px;
    /* gap: 150px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* margin-bottom: 15px; */
    gap: 5px;
    /* margin-top: 10px; */
    padding-top: 10px;
}

.wishlistcontainer h2 {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0;
}

.wishlistcontainer {
    width: 350px;
    /* cursor: pointer; */
    margin-top: 35px;
    border: 1px solid black;
    margin-bottom: 35px;
    margin-left: 38px;
    height: 470px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wishlistcontainer img {
    /* margin-left: 62px;
    margin-top: 15px;
    /* margin-right: 50%; */
    /* left: 50%; */
    /* right: 50%;  */

    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 190px;
    max-width: 200px;

}

.activetab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: -27px;
    background-color: grey;
}

.inactiveyour {
    display: none;
}

.activeyour {
    border-radius: 67px;
    font-size: 50px;
    display: block;
    min-height: 800px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    max-height: auto;
}

.btn {
    display: flex;
    flex-direction: column;
    bottom: 0;
    align-content: end;
    /* align-items: flex-end; */
    align-items: center;
    /* align-items: center; */
    justify-content: center;

    gap: 15px;
}

.btn button {

    min-width: 120px;
    /* position: absolute; */
    border: none;
    /* bottom: 50px; */
    /* left: 50%; */
    max-width: 120px;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

.heading {
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.wishdetailcontainer {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-width: 100%;
}

.wishdetailleft {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 35px;
    height: auto;
    border: 1px solid white;
}

.wishdetailleftsub1 {
    display: flex;
    gap: 10px;
}
.wishdetailleftsub1 button{
    
}
.wishdetailleftsub1 input{
    padding: 10px;
}

.wishcontent {
    display: flex;
    width: 75%;
}

.wishcontent img {
    /* padding-left: 150px; */
    /* display: flex; */
    /* background-color: blue; */
    height: 210px;
    width: 170px;
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;

}

.flexbottom {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 2px;
    width: 75%;
}

.wishdetailcontent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 75%;
    min-width: 100%;
    padding: 15px;
}

.closeiconP {
    display: flex;

}